# Python venv
.venv/
.venv312/
venv/
ENV/
env/

# local test data
data/samples/
data/vectorstore/
db_data_bk.zip

# local python envs
.venv*/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VSCode / PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Google credentials
*-credentials.json
airy-gate-*.json

# Build outputs
build/
dist/
*.egg-info/
requirements-py313.txt
*.xlsx
*.csv
